<!-- empty-state: -->
<div class="empty-state">
	<p class="text">
		O usuário "<span>{{username}}</span>" ainda não marcou nenhum repositório com estrela.
	</p>
	<div class="button">
		<button class="default-button -secondary js-button-search-again" type="submit"><i class="material-icons">search</i> pesquisar outro</button>
	</div>
</div>
<!-- :empty-state -->
